.verificar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
    text-align: center;
}

label{
    font-size: .9rem;
  }
  
  .cuadro {
    background: #e76004;
    padding: .8rem 0;
    margin: 0 0 0 0;
    color: white;
}
  
  .recuadro{
    padding: 2rem 1rem;
    background-color: #ebebeb;
    overflow: hidden;
  }
  
  span{
    color: #00ff27;
  }
  
  .px-18{
    padding: 0 18rem;
  }
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    h2{
      font-size: 1.5rem !important;
    }
    h5{
      font-size: 1rem !important;
    }

    img.img-fluid.logo-footer {
      width: 60% !important;
      margin-bottom: 50px  !important;
    }
    .footer{
      text-align: center;
    }
  }

  @media (min-width: 768px){
    img.img-fluid.logo-footer {
      width: 90%;
      margin-bottom: 40px;
  }

    .alto-caja{
      min-height: 140px;
    }

  }

  .wrapper{
    min-height: 52vh;
  }

   /*==============  utils ===========*/
  .bg-white{
    background-color: #fff;
  }
  .bg-gris{
    background-color: #f5f5f5;
  }
  .bg-gris2{
    background: #ebebeb;
  }
  .bg-azul{
    background: #000000;
  }
  .text-gris{
    color: #454e54;
  }
  .hv-100{
    height: 100vh;
  }
  .pa-5{
    padding: 5%;
  }
   /*============== Fin utils ===========*/

   .woocommerce form .form-row-first{
     width: 100% !important;
   }

   .wrapper-account{
    background: url("../img/splash-1.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
   }

   .wrapper-account .content{
    background: rgba(255,255,255,.6);
   }